p {
    font-weight: bold;
    padding: 15px 92px;
}

div {
    margin-top: 5px;
    width: 191px;
    height: 50px;
}

.div-odd {
    background-color: red;
}

.div-even {
    background-color: green;
}

